In [ ]:
#self study task (vedio 8)
#task 1
number=1
i=1
while i<=3:
    j =1
    while j<=3:
        print(number,end=" ")
        number+=1
        j+=1
    print()
    i+=1

#task 2
for i in range(4):
    for i in range(4):
        print("*",end=" ")
    print()


for i in range(5):
    for i in range(1,i+1):
        print("*",end=" ")
    print()

number = 5
for i in range(1,5,1):
    for j in range(2**(i-1)):
        print(i,end=" ")
    print()

In [7]:
#list,tuple,dictionary

#list is mutable,tuple isn't mutable

#list

data = [23,45,12,5,566,4]
data.append(43)   #add an item
data.remove(45)   #remove an item
print(data)

#tuple
data1= (12,24,5,566,4)
new_data=list(data1)   #convert list
print(new_data)

#dictionary

#var-nam = {key:value, key2:value2}

#intitialize a dict
person = {"name" : "naiyem"}   #Here is dictionary

#add element
person["age"] = 22    #add new key value
person["name"] = "naiyem islam"   #update value
del person["age"]   #delete key-value
print(person)

[23, 12, 5, 566, 4, 43]
[12, 24, 5, 566, 4]
{'name': 'naiyem islam'}

In [35]:
#task(list,tuple,dictionary)

#task1:list

data2 = [1,2,3,4,5]
data2.append(6)
data2.remove(2)
print(data2)

#task2:tuples

data3 = ("khulna","dhaka","rangpur","rajshahi", "barisal")
print(data3[2])
new_data3 = list(data3)
print(new_data3)
new_data3.append("sylhet")
print(new_data3)
new_data4 = tuple(new_data3)
print(new_data4)

#task3:dictionary

my_dic ={
    "math":90,
    "physics":89,
    "chemistry" :85
}
my_dic["biology"] = 86
my_dic["math"] = 83
avg_mark = sum(my_dic.values()) / len(my_dic)
print(my_dic)
print(avg_mark)

[1, 3, 4, 5, 6]
rangpur
['khulna', 'dhaka', 'rangpur', 'rajshahi', 'barisal']
['khulna', 'dhaka', 'rangpur', 'rajshahi', 'barisal', 'sylhet']
('khulna', 'dhaka', 'rangpur', 'rajshahi', 'barisal', 'sylhet')
{'math': 83, 'physics': 89, 'chemistry': 85, 'biology': 86}
85.75

In [21]:
#function

def my_function(fname, mname,lname):
    print(fname,mname,lname)
#arguement
my_function("Md","Naiyem","Islam")

#task=NID

def NID(Name,nid_number,present_adress,permanent_adress,date_of_birth,gender):
    
    print("Name:",Name)
    print("NID Number:", nid_number)
    print("present adress:", present_adress)
    print("permanent adres:" ,permanent_adress)
    print("date of birth:", date_of_birth)
    print("Gender:" ,gender)

NID(
    Name= "md naiyem islam",
    nid_number = "23257453637464553",
    present_adress="dinajpur",
    permanent_adress="khulna",
    date_of_birth="06-10-2003",
    gender="male"
)

Md Naiyem Islam
Name: md naiyem islam
NID Number: 23257453637464553
present adress: dinajpur
permanent adres: khulna
date of birth: 06-10-2003
Gender: male